setuptools==38.5.2
antiorm==1.2.1
apiai==1.2.3
asn1crypto==0.24.0
aylien-apiclient==0.6.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
DateTime==4.2
db==0.1.1
demjson==2.2.4
get==0.0.39
httplib2==0.10.3
idna==2.6
numpy==1.14.0
pandas==0.22.0
post==0.0.26
public==0.0.65
pycparser==2.18
pyOpenSSL==17.5.0
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2017.3
query-string==0.0.28
request==0.0.26
requests==2.18.4
simplejson==3.13.2
six==1.11.0
urllib3==1.22
urlopen==1.0.0
utils==0.9.0
watson-developer-cloud==1.0.2
web.py==0.40.dev0
yahoo-finance==1.4.0
zope.interface==4.4.3
